<!DOCTYPE html>
<html>

<head>
	
	<title>System Simulator (MQTT)</title>
	
	<% include include.ejs %>

</head>

<body style="padding-top: 70px;">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container">
			

			<div class="navbar-header">
				<a class="navbar-brand" href="/">System Simulator (MQTT)</a>
			</div>

		</div>
	</nav>
